* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

	background: no-repeat;
	background-attachment:fixed;

	background-color: white;

  font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	font-size:12px;
}

.wrapper {
	width: 90%;
	height: fit-content;

	padding: 20px;

	overflow: auto;

	display: block;

	position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.space-big {
	margin: 20vh;
}

.space-little {
	margin: 5vh;
}

.space-xs {
	margin: 2vh;
}

#dbgbut {
	position: absolute;
	top:0;
	right:0;
	font-size: 2vw;
}

#prebut {
	position: absolute;
	top:0;
	left:0;
	font-size: 2vw;
}

.divider {
	display: block;

  margin-left: auto;
	margin-right: auto;

  border: 0.5px solid darkblue;
}
