<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Security-Policy"
		content="default-src 'self' 'unsafe-inline' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; connect-src *; media-src *; img-src 'self' data: content:;">
	<meta name="format-detection" content="telephone=no">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="viewport"
		content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
	<link rel="stylesheet" type="text/css" media="screen" href="css/lib/w3.css">

	<link rel="stylesheet" type="text/css" media="screen" href="css/common.css">

	<link rel=" stylesheet" type="text/css" media="screen" href="css/standard/header.css">
	<link rel="stylesheet" type="text/css" media="screen" href="css/standard/buttons.css">

	<link rel="stylesheet" type="text/css" media="screen" href="css/presences/presences.css">

	<link rel="stylesheet" type="text/css" media="screen" href="css/debug/status.css">
	<link rel="stylesheet" type="text/css" media="screen" href="css/debug/devices.css">
	<title>Mobile presence</title>
</head>

<body>
	<div class="w3-bar upper-menu">
		<button id="prebut" onclick="goToPresences()" class="w3-bar-item w3-button w3-light-grey">Pres</button>
		<button id="blebut" onclick="goToBle()" class="w3-bar-item w3-button w3-light-grey">Ble</button>
		<button id="stdbut" onclick="goToStandard()" class="w3-bar-item w3-button w3-light-grey">Main</button>
		<button id="autbut" onclick="goToAuth()" class="w3-bar-item w3-button w3-light-grey">Auth</button>
		<button id="dbgbut" onclick="goToDebug()" class="w3-bar-item w3-button w3-light-grey">Dbg</button>
	</div>

	<div id="pre" style="display: none;">
		<div id="presencesVue">
			<div v-if="authenticated" class="wrapper">
				<presences v-for='presence in presences' :presence='presence' :key="presence.datetime"></presences>
			</div>
			<div v-else class="not-authenticated-message">
				<p style="color: firebrick">You are not authenticated</p>
				<button onclick="goToAuth()" class="w3-bar-item w3-button w3-light-grey">Authenticate</button>
			</div>
		</div>
	</div>

	<div id="dbg" style="display: none;">
		<div id="debugVue">
			<div v-if="authenticated">
				<status :bt='bt' :scan='scan' :db='db'></status>
				<span>{{ id }}</span><br>
				<span style="color: firebrick">{{ debug }}</span>
				<hr>
				<div class="w3-content button-group">
					<button class="positive" onclick="sendMessage('Positivo')">Positivo</button>
					<div class="space-little"></div>
					<button class="negative" onclick="sendMessage('Negativo')">Negativo</button>
				</div>
				<hr>
				<devices v-for='device in devices' :device='device' :key="device.id"></devices>
			</div>
			<div v-else class="not-authenticated-message">
				<p style="color: firebrick">You are not authenticated</p>
				<button onclick="goToAuth()" class="w3-bar-item w3-button w3-light-grey">Authenticate</button>
			</div>
		</div>
	</div>

	<div id="aut" style="display: none;">
		<div id="authVue">
			<div v-if="authenticated" class="wrapper">
				<auth :user="user"></auth>
			</div>
			<div v-else class="wrapper">
				<h1>Register user</h1>
				<div class="w3-container w3-round w3-card-4 w3-light-grey">
					<form onsubmit="return false" id="authForm">
						<label>Factory name</label>
						<input id="inputFacName" class="w3-input w3-border w3-round" type="text">

						<label>Factory password</label>
						<input id="inputFacPass" class="w3-input w3-border w3-round" type="password">

						<div class="w3-margin"></div>

						<label>First name</label>
						<input id="inputUserName" class="w3-input w3-border w3-round" type="text">

						<label>Last name</label>
						<input id="inputUserLastname" class="w3-input w3-border w3-round-large" type="text">

						<button onclick="createUser()" class="w3-button w3-small w3-right w3-margin w3-green w3-round"
							type="submit">Register user on this device</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div id="ble" style="display: none;">
		<div id="bleVue">
			<div v-if="authenticated" class="wrapper">
				<h1>Register ble</h1>
				<div class="w3-container w3-round w3-card-4 w3-light-grey">
					<form onsubmit="return false" id="bleForm">
						<label>Factory name</label>
						<input id="inputBleFacName" class="w3-input w3-border w3-round" type="text">

						<label>Factory password</label>
						<input id="inputBleFacPass" class="w3-input w3-border w3-round" type="password">

						<div class="w3-margin"></div>

						<label>Room name</label>
						<input id="inputRoomName" class="w3-input w3-border w3-round" type="text">

						<label>Bluetooth id</label>
						<input id="inputBleId" class="w3-input w3-border w3-round" type="text">

						<button onclick="addBleDev()" class="w3-button w3-small w3-right w3-margin w3-green w3-round"
							type="submit">Register ble device</button>
					</form>
				</div>
				<hr>
				<devices v-for='device in devices' :device='device' :key="device.id"></devices>
			</div>
			<div v-else class="not-authenticated-message">
				<p style="color: firebrick">You are not authenticated</p>
				<button onclick="goToAuth()" class="w3-bar-item w3-button w3-light-grey">Authenticate</button>
			</div>
		</div>
	</div>

	<div id="std" style="display: block;">
		<div id="stdVue">
			<div v-if="authenticated" class="wrapper">
				<div class="w3-content" style="max-width: 90%;">
					<div class="header">
						<div class="logo"><img src="img/logo.png" alt="logo" height="100vh"></div>
						<span class="title">Mobile presence</span>
					</div>

					<div class="space-big"></div>

					<div class="w3-content button-group">
						<button class="positive" onclick="sendMessage('Positivo')">Positivo</button>
						<div class="space-little"></div>
						<button class="negative" onclick="sendMessage('Negativo')">Negativo</button>
					</div>
				</div>
			</div>
			<div v-else class="not-authenticated-message">
				<p style="color: firebrick">You are not authenticated</p>
				<button onclick="goToAuth()" class="w3-bar-item w3-button w3-light-grey">Authenticate</button>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="cordova.js"></script>

	<script type="text/javascript" src="js/lib/moment.js"></script>
	<script type="text/javascript" src="js/lib/vue.js"></script>

	<script src="js/lib/firebase.js"></script>
	<script src="js/lib/firebase-app.js"></script>
	<script>
		// Initialize Firebase
		var config = {
			apiKey: "AIzaSyAKnKHDMZOZ1RqYwqhxD87bCBLscXOX-4s",
			authDomain: "mobile-presence-stage-2019.firebaseapp.com",
			databaseURL: "https://mobile-presence-stage-2019.firebaseio.com",
			projectId: "mobile-presence-stage-2019",
			storageBucket: "mobile-presence-stage-2019.appspot.com",
			messagingSenderId: "800467615714"
		};
		firebase.initializeApp(config);
	</script>
	<script src="js/lib/firebase-firestore.js"></script>

	<script type="text/javascript" src="js/components/vue/status.js"></script>
	<script type="text/javascript" src="js/components/vue/devices.js"></script>
	<script type="text/javascript" src="js/components/vue/presences.js"></script>
	<script type="text/javascript" src="js/components/vue/auth.js"></script>
	<script type="text/javascript" src="js/components/vue/vueInit.js"></script>

	<script type="text/javascript" src="js/components/buttons.js"></script>

	<script type="text/javascript" src="js/app/dbAPIs.js"></script>
	<script type="text/javascript" src="js/message/db.js"></script>

	<script type="text/javascript" src="js/app/btHandler.js"></script>
	<script type="text/javascript" src="js/message/handler.js"></script>

	<script type="text/javascript" src="js/app/btScan.js"></script>
	<script type="text/javascript" src="js/message/qScan.js"></script>

	<script type="text/javascript" src="js/app/btCheck.js"></script>
	<script type="text/javascript" src="js/message/check.js"></script>

	<script type="text/javascript" src="js/presences/presences.js"></script>

	<script type="text/javascript" src="js/auth/credentials.js"></script>
	<script type="text/javascript" src="js/auth/auth.js"></script>
	<script type="text/javascript" src="js/auth/register.js"></script>
	<script type="text/javascript" src="js/auth/unregister.js"></script>

	<script type="text/javascript" src="js/init.js"></script>
</body>

</html>
